* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*COLOR BOXES*/
/*le seguenti classi serviranno solo una fase iniziale del progetto e verranno cancellatto quando potrò inserire il contentunuto vero e proprio del progetto*/

.yellow-box {
    background-color: yellow;
}

.green-box {
    background-color: green;
    height: 100px;
}

/*FONT*/

header {
	font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

main {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.24;
}

/*MEDIA QUERIES*/

/* Stili di base per dispositivi mobili */
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Miglioramenti per tablet */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

/* Miglioramenti per desktop */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}

/*MAIN CONTENT*/

.bg-banner {
    background-image: url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*ho dovuto inserire un altezza fissa per rispettare l'altezza di questo div proposta dall'immagine di  mockup*/
    height: 463.13px;
}

.purchase-duck {
    border: 1px solid black;
}
